name: Daily EPG Update

on:
  schedule:
    - cron: '0 0 * * *' # Midnight UTC
  workflow_dispatch: # Manual trigger button

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Requirements
        run: pip install -r requirements.txt

      - name: Run Scraper
        run: python scraper.py

      - name: Commit XML
        run: |
          git config --global user.name "EPG Bot"
          git config --global user.email "bot@github.com"
          git add bein.xml
          git commit -m "Updated EPG: $(date)" || exit 0
          git push
